:root{
  --accent-main: #f7505e;
  --accent-main-light: #fc5f6c;
  --accent-main-dark: #e54654;
  --accent-1: #f8f8f8;
  --accent-2: #e9e9e9;
  --accent-3: #666;

  --transition: all .2s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'NeueHaasGroteskDisp Pro';
  font-size: 1rem;
  line-height: 1.5;
}

*:focus, *:focus-within {
  outline: none;
}


html {
  font-size: 16px;
}


body {
  font-size: 1rem;
  color: #696969;
}

/* COLORS */
a {
  text-decoration: none;
  color: unset;
}

.d-none {display: none !important;}

/* COLORS */
.bg-color-main {
  background-color: var(--accent-main);
}

.bg-color-main-dark {
  background-color: var(--accent-main-dark);
}

.bg-color-2 {
  background-color: var(--accent-2);
}

.text-color-main {
  color: var(--accent-main)
}

.text-white {color: white;}

ul.menu-list {
    list-style: none;

    li {
        display: inline-block;
    }
}

/* CONTAINERS */

.container-sm {
  max-width: 950px;
}

/* HEADERS */
h1 {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent-main);
  line-height: 1.8;
}

h4 {
  font-size: 1.5rem;
}

small, .small {
  font-size: small;

  * {
      font-size: small;
  }

}

.text-center {text-align: center;}

/* BUTTONS */
.btn {
  appearance: none;
  position: relative;
  height: fit-content;
  padding: 7px 35px 7px 10px;
  background-color: white;
  border: 1px solid white;
  text-align: left;
  color: var(--accent-main-light);
  cursor: pointer;

  &::after {
      --size: 5px;
      --color: var(--accent-main-light);
      content: '';
      position: absolute;
      right: calc((35px / 2) - var(--size));
      top: calc(50% - (var(--size)/2));
      border-bottom: var(--size) solid var(--color);
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      transition: var(--transition);
      transform: rotate(90deg);
  }

  &:hover::after {
    transform: rotate(90deg) translateY(-2px);
  }
}

/* FLEXBOX */
.d-flex {display:flex}
.flex-col {flex-direction: column;}
.justify-content-between {justify-content: space-between;}

.align-items-center {align-items: center;};
.align-items-end {align-items: flex-end}

/* MARGIN */
$sizes: 0, 8, 10, 16, 24, 30, 40, 50, 70, 90, 100;
@each $size in $sizes {
  .m-#{$size} {
    margin: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  } 
  .mx-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }
  .my-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }

}

/* PADDING */
@each $size in $sizes {
    .p-#{$size} {
      padding: #{$size}px;
    }
    .pl-#{$size} {
      padding-left: #{$size}px;
    }
    .pr-#{$size} {
      padding-right: #{$size}px;
    }
    .pt-#{$size} {
      padding-top: #{$size}px;
    }
    .pb-#{$size} {
      padding-bottom: #{$size}px;
    }
    .px-#{$size} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }
    .py-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
}

/* SECTIONS */
[data-section='hero'] {
  text-transform: uppercase;

  h3 {
    font-size: 1.284rem;
    margin-bottom: 10px;
    font-weight: 600;

    span.meta {
      font-size: inherit;
      font-weight: normal;
    }
  }

  h4 {
      font-size: 1.285rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 16px;
      color: #fff;
  }
}

main {
  min-height: calc(100vh - (50px + 160px + 203px));
}

footer {
  [data-section="footer-info"] {
      color: var(--accent-main)
  }

  [data-label="footer-legal"] {
      .menu-list {
          li {
              margin-right: 10px;
          }
      }
  }
}

/* MEDIA QUERIES */
.top-bar {
  padding: 5px 0;
  background: var(--accent-main-dark);
  color: #fff;
  font-size: 0.875rem;
  padding: 13px 0;

  .text-widget {
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.align-right {
  text-align: right;
}

header {
  background: var(--accent-main);
  padding-bottom: 16px;
  
  .btn-hamburger-container {
    display: none;
    text-align: right;

    i {
      font-size: 25px;
      color: hsla(0,0%,100%,.5);
    }
  }

  .main-nav {
    .navigation {
      font-size: 0.875rem;
      align-items: center;
      margin-bottom: 14px;
      padding-top: 17px;
    }
  
    .logo a {
      width: 100%;
  
      img {
        width: 186px;
        height: auto;
      }
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
          text-transform: uppercase;
          font-weight: 600;


          a {
            text-decoration: none;
            color: hsla(0,0%,100%,.75);
            opacity: .6;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid hsla(0,0%,100%,.4);
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }
}

.page-info {
  h1 {
    color: #fff;

  }

  h4 {
    font-size: 1.285rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
  }
}

.breadcrumb {
  margin-bottom: 20px;
  text-transform: none;
  p {
    font-size: 1rem;
    a {
      text-decoration: none;
      color: hsla(0,0%,100%,.75);
      opacity: 0.6;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #fff;
      font-weight: 600;

      &::before {
        padding: 0 10px;
        font-size: 1.2rem;
        content: '\203A';
      }

      &.first::before {
        color: hsla(0,0%,100%,.75); 
      }
    }
  }
}

@media (max-width: 768px) {
  .top-bar {
    display: none;
  }

  header {
    // height
    transform: scaleY(1);
    
    .btn-hamburger-container {
      display: block;
    }
  
    .main-nav {

      .navigation {
        background: var(--accent-main);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;

        .line-nav-hide {
          display: none;
        }
      }
      .nav-container {
        transform-origin: top;
        height: 0px;
        transform: scaleY(0);
        transition: all .5s ease-out 0s;

      }

      nav {
        // transform-origin: top;
        margin-top: 10px;
        border-top: 1px solid hsla(0,0%,100%,.4);

        ul {
          flex-direction: column;
          
          li {
            width: 100%;
            margin-left: 0;

            a {
              display: block;

              padding: 10px 0;
              padding-left: 25px;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .line-nav-hide {
    display: none;
  }
  
  body.nav-isopen .nav-container {
    transform: scaleY(1);
    height: 220px;
  }
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }

  /* MARGIN */
  $sizes: 0, 8, 10, 16, 24, 30, 40, 50, 70, 90, 100;
  @each $size in $sizes {
    .m-sm-#{$size} {
      margin: #{$size}px;
    }
    .ml-sm-#{$size} {
      margin-left: #{$size}px;
    }
    .mr-sm-#{$size} {
      margin-right: #{$size}px;
    }
    .mt-sm-#{$size} {
      margin-top: #{$size}px;
    }
    .mb-sm-#{$size} {
      margin-bottom: #{$size}px;
    }
    .mx-sm-#{$size} {
      margin-left: #{$size}px;
      margin-right: #{$size}px;
    }
    .my-sm-#{$size} {
      margin-top: #{$size}px;
      margin-bottom: #{$size}px;
    }

  }

  /* PADDING */
  @each $size in $sizes {
      .p-sm-#{$size} {
        padding: #{$size}px;
      }
      .pl-sm-#{$size} {
        padding-left: #{$size}px;
      }
      .pr-sm-#{$size} {
        padding-right: #{$size}px;
      }
      .pt-sm-#{$size} {
        padding-top: #{$size}px;
      }
      .pb-sm-#{$size} {
        padding-bottom: #{$size}px;
      }
      .px-sm-#{$size} {
        padding-left: #{$size}px;
        padding-right: #{$size}px;
      }
      .py-sm-#{$size} {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
      }
  }
}

@media (min-width: 768px) {
  /* MARGIN */
  $sizes: 0, 8, 10, 16, 24, 30, 40, 50, 70, 90, 100;
  @each $size in $sizes {
    .m-md-#{$size} {
      margin: #{$size}px;
    }
    .ml-md-#{$size} {
      margin-left: #{$size}px;
    }
    .mr-md-#{$size} {
      margin-right: #{$size}px;
    }
    .mt-md-#{$size} {
      margin-top: #{$size}px;
    }
    .mb-md-#{$size} {
      margin-bottom: #{$size}px;
    }
    .mx-md-#{$size} {
      margin-left: #{$size}px;
      margin-right: #{$size}px;
    }
    .my-md-#{$size} {
      margin-top: #{$size}px;
      margin-bottom: #{$size}px;
    }

  }

  /* PADDING */
  @each $size in $sizes {
      .p-md-#{$size} {
        padding: #{$size}px;
      }
      .pl-md-#{$size} {
        padding-left: #{$size}px;
      }
      .pr-md-#{$size} {
        padding-right: #{$size}px;
      }
      .pt-md-#{$size} {
        padding-top: #{$size}px;
      }
      .pb-md-#{$size} {
        padding-bottom: #{$size}px;
      }
      .px-md-#{$size} {
        padding-left: #{$size}px;
        padding-right: #{$size}px;
      }
      .py-md-#{$size} {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
      }
  }

  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
/* MARGIN */
$sizes: 0, 8, 10, 16, 24, 30, 40, 50, 70, 90, 100;
@each $size in $sizes {
  .m-lg-#{$size} {
    margin: #{$size}px;
  }
  .ml-lg-#{$size} {
    margin-left: #{$size}px;
  }
  .mr-lg-#{$size} {
    margin-right: #{$size}px;
  }
  .mt-lg-#{$size} {
    margin-top: #{$size}px;
  }
  .mb-lg-#{$size} {
    margin-bottom: #{$size}px;
  }
  .mx-lg-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }
  .my-lg-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }

}

/* PADDING */
@each $size in $sizes {
    .p-lg-#{$size} {
      padding: #{$size}px;
    }
    .pl-lg-#{$size} {
      padding-left: #{$size}px;
    }
    .pr-lg-#{$size} {
      padding-right: #{$size}px;
    }
    .pt-lg-#{$size} {
      padding-top: #{$size}px;
    }
    .pb-lg-#{$size} {
      padding-bottom: #{$size}px;
    }
    .px-lg-#{$size} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }
    .py-lg-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
}

.container {
    max-width: 960px;
}
}

@media (min-width: 1200px) {
/* MARGIN */
$sizes: 0, 8, 10, 16, 24, 30, 40, 50, 70, 90, 100;
@each $size in $sizes {
  .m-xl-#{$size} {
    margin: #{$size}px;
  }
  .ml-xl-#{$size} {
    margin-left: #{$size}px;
  }
  .mr-xl-#{$size} {
    margin-right: #{$size}px;
  }
  .mt-xl-#{$size} {
    margin-top: #{$size}px;
  }
  .mb-xl-#{$size} {
    margin-bottom: #{$size}px;
  }
  .mx-xl-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }
  .my-xl-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }

}

/* PADDING */
@each $size in $sizes {
    .p-xl-#{$size} {
      padding: #{$size}px;
    }
    .pl-xl-#{$size} {
      padding-left: #{$size}px;
    }
    .pr-xl-#{$size} {
      padding-right: #{$size}px;
    }
    .pt-xl-#{$size} {
      padding-top: #{$size}px;
    }
    .pb-xl-#{$size} {
      padding-bottom: #{$size}px;
    }
    .px-xl-#{$size} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }
    .py-xl-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
  }

  .container {
      max-width: 1140px;
  }
}