:root{
  --accent-main: #f7505e;
  --accent-light-light: #fc5f6c;
  --accent-main-dark: #e54654;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'NeueHaasGroteskDisp Pro';
  font-size: 1rem;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: unset;
}

/* COLORS */
.bg-color-main {
  background-color: var(--accent-main);
}

.bg-color-main-dark {
  background-color: var(--accent-main-dark);
}

.text-color-main {
  color: var(--accent-main)
}

ul.menu-list {
    list-style: none;

    li {
        display: inline-block;
    }
}

/* CONTAINERS */

.container-sm {
  max-width: 950px;
}

/* HEADERS */
h1 {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
}

small, .small {
    font-size: small;

    * {
        font-size: small;
    }

}

/* FLEXBOX */
.d-flex {display:flex}
.flex-col {flex-direction: column;}
.justify-content-between {justify-content: space-between;}

.align-items-center {align-items: center;}

/* MARGIN */
$sizes: 0, 10, 16, 24, 30, 40, 50, 70, 90, 100;
@each $size in $sizes {
  .m-#{$size} {
    margin: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
  .mx-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }
  .my-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }

}

/* PADDING */
@each $size in $sizes {
    .p-#{$size} {
      padding: #{$size}px;
    }
    .pl-#{$size} {
      padding-left: #{$size}px;
    }
    .pr-#{$size} {
      padding-right: #{$size}px;
    }
    .pt-#{$size} {
      padding-top: #{$size}px;
    }
    .pb-#{$size} {
      padding-bottom: #{$size}px;
    }
    .px-#{$size} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }
    .py-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
}

/* SECTIONS */
[data-section='hero'] {
  h4 {
      font-size: 1.285rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 16px;
      color: #fff;
  }
}

main {
    min-height: calc(100vh - (50px + 160px + 203px));
}

footer {
    [data-section="footer-info"] {
        color: var(--accent-main)
    }

    [data-label="footer-legal"] {
        .menu-list {
            li {
                margin-right: 10px;
            }
        }
    }
}

.top-bar {
  padding: 5px 0;
  background: var(--accent-main-dark);
  color: #fff;
  font-size: 0.875rem; 
  padding: 13px 0;

  .text-widget {
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.align-right {
  text-align: right;
}

header {
  background: var(--accent-main);
  padding-bottom: 16px;

  .main-nav {
    .navigation {
      font-size: 0.875rem;
      align-items: center;
      margin-bottom: 14px;
      padding-top: 17px;
    }
  
    .logo a {
      width: 100%;
  
      img {
        width: 186px;
        height: auto;
      }
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
          text-transform: uppercase;
          font-weight: 600;


          a {
            text-decoration: none;
            color: hsla(0,0%,100%,.75);
            opacity: .6;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid hsla(0,0%,100%,.4);
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }
}

.breadcrumb {
  margin-bottom: 25px;
  p {
    font-size: 1rem;
    a {
      text-decoration: none;
      color: hsla(0,0%,100%,.75);
      opacity: 0.6;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #fff;
      font-weight: 600;

      &::before {
        padding: 0 10px;
        font-size: 1.2rem;
        content: '\203A';
      }

      &.first::before {
        color: hsla(0,0%,100%,.75); 
      }
    }
  }

}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}