.map-contact {
  width: 100%;
  height: 410px;
}

.intro {
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

label {
  margin-bottom: 0.5rem;

  span {
    color: #ee0000;
  }
}

input, label {
  display: block;
}

input, textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bebebe;
  padding: 6px 12px;
  margin-bottom: 1rem;

  transition: all .15s ease-in-out;

  &:focus {
    border: 0;
    box-shadow: 0px 0px 0px 4px rgba(247,80,94,0.3);
    outline: none;
  }
}

input[type="submit"] {
  display: inline-block;
  background: var(--accent-main);
  color: #fff;
  border: none;
  width: auto;
  cursor: pointer;

  &:hover {
    background: #f41326;
  }
}

textarea {
  resize: vertical;
  height: 180px;
}

.contact-info-input {
  justify-content: space-between;

  div {
    flex: 0 0 48%;
  }
}

.contact-info {
  margin-top: 30px;
  
  p {
    margin-bottom: 1rem;
    
    strong {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: var(--accent-main);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 576px) {
  .contact-info-input {
    justify-content: center;
    flex-wrap: wrap;
  
    div {
      flex: 0 0 100%;
    }
  }
}