h3.detail-title {
  font-weight: 700;
  font-size: 2.1rem;
  margin-top: 40px;
  margin-bottom: 1.5rem;
  color: var(--accent-main)
}

.price {
  p {
    color: #fff;
    font-size: 1.125rem;

    &:last-child {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.main-alt {
  margin-top: 0;
}

.detail-premise {
  width: 100%;
  height: 25%;
  position: absolute;
  z-index: -1;
  background: var(--accent-main);
}

.detail-head-pic {
  position: relative;

  &::before {
    position: absolute;
    left: -15.5px;
    top: 10px;
    display: block;
    content: " ";
    background-image: url(../images/ornament_wit.svg);
    width: 31px;
    height: 55px;
  }
  
  img {
    width: 100%;
  }

  .stripes {
    position: absolute;
    top: 5px;
    left: -25px;
  }
}

.detail-description {
  p, ul {
    margin-bottom: 1rem;
  }

  p {
    a {
      color: var(--accent-main);
      text-decoration: none;

      &:hover {
        color: #f41326;
        text-decoration: underline;
      }

    }
  }

  ul {
    margin-left: 40px;
  }
}

.map {
  width: 100%;
  height: 400px;
}

.address-info {
  margin-bottom: 1rem;
  background: #eae5db;
  padding: 12px 15px 15px;

  h4 {
    color: var(--accent-main);
  }

  address {
    font-style: normal;
  }
}

.detail-properties {
  table {
    text-align: left;
    border-collapse: collapse;
    background: #fff;
    width: 100%;
    

    tbody {
      tr {

        th, td {
          border-bottom: 0.1px solid #dedede;
          padding: 0.375rem;
        }
      }
    }
  }
}

.detail-card {
  display: block;
  margin-top: 20px;

  div.detail-image {
    position: relative;

    &::before {
      position: absolute;
      left: -15.5px;
      top: 10px;
      display: block;
      content: " ";
      background-image: url(../images/ornament_rood.svg);
      width: 31px;
      height: 55px;
    }

    img {
      width: 100%;
    }

    .note {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      background: var(--accent-main);
      padding: 10px 14px;
    }
  }
}

.related-back {
  margin-top: 40px;
  margin-bottom: 50px;
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 70px;

  h3 {
    margin-top: 0;
  }
}

.related-card-box {
  display: block;
  transition: var(--transition);

  &:hover {
    transform: translateY(-10px);
  }
}

.related-card {
  box-shadow: 0 0 20px rgba(0,0,0,.17);
  position: relative;
  margin-bottom: 20px;
  
  .related-image {
    position: relative;

    &::before {
      position: absolute;
      left: -15.5px;
      top: 10px;
      display: block;
      content: " ";
      background-image: url(../images/ornament_wit.svg);
      width: 31px;
      height: 55px;
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .meta {
      position: absolute;
      top: 0;
      right: 0;
      background: var(--accent-main);
      padding: 10px 14px;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
    }
  }

  .related-body {
    min-height: 91px;
    margin-top: -7px;
    background: var(--accent-main);
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
    

    h3 {
      line-height: 1;
      margin-bottom: 5px;
    }

    p {
      text-transform: none;
      line-height: 1.2;
    }
  }
}

@media (max-width: 768px) {
  .price {
    p {
      color: #fff;
      font-size: 1.125rem;

      &.price-title {
        display: none;
      }
  
      &:last-child {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }

  .detail-properties {
    table {
      text-align: left;
      border-collapse: collapse;
      background: #fff;
      width: 100%;
      
  
      tbody {
        tr {
          display: flex;
          flex-direction: column;
          
          th {
            border: none;
          }
           
        }
      }
    }
  }
  
}