:root{
    --accent-main: #f7505e;
    --accent-main-dark: #e54654;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'NeueHaasGroteskDisp Pro';
}

/* COLORS */
.bg-color-main {
    background-color: var(--accent-main);
}

.bg-color-main-dark {
    background-color: var(--accent-main-dark);
}

.text-color-main {
    color: var(--accent-main)
}

/* CONTAINERS */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container-sm {
    max-width: 950px;
}

/* HEADERS */
h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
}

/* FLEXBOX */

/* SECTIONS */
[data-section='hero'] {
    h4 {
        font-size: 1.285rem;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}