@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 95 Black"), local("NHaasGroteskDSPro-95Blk"), url("../fonts/NHaasGroteskDSPro-95Blk.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 66 Medium Italic"), local("NHaasGroteskDSPro-66MdIt"), url("../fonts/NHaasGroteskDSPro-66MdIt.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 75 Bold"), local("NHaasGroteskDSPro-75Bd"), url("../fonts/NHaasGroteskDSPro-75Bd.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 76 Bold Italic"), local("NHaasGroteskDSPro-76BdIt"), url("../fonts/NHaasGroteskDSPro-76BdIt.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 96 Black Italic"), local("NHaasGroteskDSPro-96BlkIt"), url("../fonts/NHaasGroteskDSPro-96BlkIt.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 65 Medium"), local("NHaasGroteskDSPro-65Md"), url("../fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: local("Neue Haas Grotesk Display Pro 65 Medium"), local("NHaasGroteskDSPro-65Md"), url("../fonts/NHaasGroteskDSPro-40Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --gutter: 24px;
  --debug-container-background: rgba(0, 0, 0, 1);
  --debug-row-background: rgba(0, 0, 0, 1);
  --debug-column-background: rgba(0, 255, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.debug .container {
  border: 2px solid var(--debug-container-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

.debug .container:last-of-type {
  margin-bottom: 0;
}

.debug .row {
  border: 2px dashed var(--debug-row-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

.debug .row:last-of-type {
  margin-bottom: 0;
}

.debug .col-1:after, .debug .col-2:after, .debug .col-3:after, .debug .col-4:after, .debug .col-5:after, .debug .col-6:after, .debug .col-7:after, .debug .col-8:after, .debug .col-9:after, .debug .col-10:after, .debug .col-11:after, .debug .col-12:after {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--debug-column-background);
  border: 1px solid black;
}

.container-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1280px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: calc(var(--gutter)*-1);
  margin-left: calc(var(--gutter)*-1);
}

.col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.g-offset-1 {
  margin-left: 8.333333%;
}

.g-offset-2 {
  margin-left: 16.666667%;
}

.g-offset-3 {
  margin-left: 25%;
}

.g-offset-4 {
  margin-left: 33.333333%;
}

.g-offset-5 {
  margin-left: 41.666667%;
}

.g-offset-6 {
  margin-left: 50%;
}

.g-offset-7 {
  margin-left: 58.333333%;
}

.g-offset-8 {
  margin-left: 66.666667%;
}

.g-offset-9 {
  margin-left: 75%;
}

.g-offset-10 {
  margin-left: 83.333333%;
}

.g-offset-11 {
  margin-left: 91.666667%;
}

.g-offset-12 {
  margin-left: 100%;
}

.g-gutter-half {
  padding-left: calc(var(--gutter)/2);
  padding-right: calc(var(--gutter)/2);
}

.g-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 481px) {
  /* .row {
    margin-left: 0;
    margin-right: 0;
  } */
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .g-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .g-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .g-offset-sm-3 {
    margin-left: 25%;
  }
  .g-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .g-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .g-offset-sm-6 {
    margin-left: 50%;
  }
  .g-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .g-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .g-offset-sm-9 {
    margin-left: 75%;
  }
  .g-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .g-offset-sm-11 {
    margin-left: 91.666667%;
  }
  .g-offset-sm-12 {
    margin-left: 100%;
  }
}

@media (min-width: 769px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .g-offset-md-1 {
    margin-left: 8.333333%;
  }
  .g-offset-md-2 {
    margin-left: 16.666667%;
  }
  .g-offset-md-3 {
    margin-left: 25%;
  }
  .g-offset-md-4 {
    margin-left: 33.333333%;
  }
  .g-offset-md-5 {
    margin-left: 41.666667%;
  }
  .g-offset-md-6 {
    margin-left: 50%;
  }
  .g-offset-md-7 {
    margin-left: 58.333333%;
  }
  .g-offset-md-8 {
    margin-left: 66.666667%;
  }
  .g-offset-md-9 {
    margin-left: 75%;
  }
  .g-offset-md-10 {
    margin-left: 83.333333%;
  }
  .g-offset-md-11 {
    margin-left: 91.666667%;
  }
  .g-offset-md-12 {
    margin-left: 100%;
  }
}

@media (min-width: 997px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .g-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .g-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .g-offset-lg-3 {
    margin-left: 25%;
  }
  .g-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .g-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .g-offset-lg-6 {
    margin-left: 50%;
  }
  .g-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .g-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .g-offset-lg-9 {
    margin-left: 75%;
  }
  .g-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .g-offset-lg-11 {
    margin-left: 91.666667%;
  }
  .g-offset-lg-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1181px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .g-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .g-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .g-offset-xl-3 {
    margin-left: 25%;
  }
  .g-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .g-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .g-offset-xl-6 {
    margin-left: 50%;
  }
  .g-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .g-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .g-offset-xl-9 {
    margin-left: 75%;
  }
  .g-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .g-offset-xl-11 {
    margin-left: 91.666667%;
  }
  .g-offset-xl-12 {
    margin-left: 100%;
  }
}

/*
Grid system with grid
*/
.g-gr-container-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.g-gr-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1280px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.g-gr-grid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--gutter);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.g-gr-cspan-1, .g-gr-cspan-2, .g-gr-cspan-3, .g-gr-cspan-4, .g-gr-cspan-5, .g-gr-cspan-6, .g-gr-cspan-7, .g-gr-cspan-8, .g-gr-cspan-9, .g-gr-cspan-10, .g-gr-cspan-11, .g-gr-cspan-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  grid-column: span 12;
  grid-row: span 1;
}

.g-gr-cspan-1 {
  grid-column: span 1;
}

.g-gr-cspan-2 {
  grid-column: span 2;
}

.g-gr-cspan-3 {
  grid-column: span 3;
}

.g-gr-cspan-4 {
  grid-column: span 4;
}

.g-gr-cspan-5 {
  grid-column: span 5;
}

.g-gr-cspan-6 {
  grid-column: span 6;
}

.g-gr-cspan-7 {
  grid-column: span 7;
}

.g-gr-cspan-8 {
  grid-column: span 8;
}

.g-gr-cspan-9 {
  grid-column: span 9;
}

.g-gr-cspan-10 {
  grid-column: span 10;
}

.g-gr-cspan-11 {
  grid-column: span 11;
}

.g-gr-cspan-12 {
  grid-column: span 12;
}

.g-gr-rspan-1 {
  grid-row: span 1;
}

.g-gr-rspan-2 {
  grid-row: span 2;
}

.g-gr-rspan-3 {
  grid-row: span 3;
}

.g-gr-rspan-4 {
  grid-row: span 4;
}

.g-gr-rspan-5 {
  grid-row: span 5;
}

.g-gr-rspan-6 {
  grid-row: span 6;
}

.g-gr-rspan-7 {
  grid-row: span 7;
}

.g-gr-rspan-8 {
  grid-row: span 8;
}

.g-gr-rspan-9 {
  grid-row: span 9;
}

.g-gr-rspan-10 {
  grid-row: span 10;
}

.g-gr-rspan-11 {
  grid-row: span 11;
}

.g-gr-rspan-12 {
  grid-row: span 12;
}

@media (min-width: 481px) {
  .g-gr-cspan-sm-1 {
    grid-column: span 1;
  }
  .g-gr-cspan-sm-2 {
    grid-column: span 2;
  }
  .g-gr-cspan-sm-3 {
    grid-column: span 3;
  }
  .g-gr-cspan-sm-4 {
    grid-column: span 4;
  }
  .g-gr-cspan-sm-5 {
    grid-column: span 5;
  }
  .g-gr-cspan-sm-6 {
    grid-column: span 6;
  }
  .g-gr-cspan-sm-7 {
    grid-column: span 7;
  }
  .g-gr-cspan-sm-8 {
    grid-column: span 8;
  }
  .g-gr-cspan-sm-9 {
    grid-column: span 9;
  }
  .g-gr-cspan-sm-10 {
    grid-column: span 10;
  }
  .g-gr-cspan-sm-11 {
    grid-column: span 11;
  }
  .g-gr-rspan-sm-1 {
    grid-row: span 1;
  }
  .g-gr-rspan-sm-2 {
    grid-row: span 2;
  }
  .g-gr-rspan-sm-3 {
    grid-row: span 3;
  }
  .g-gr-rspan-sm-4 {
    grid-row: span 4;
  }
  .g-gr-rspan-sm-5 {
    grid-row: span 5;
  }
  .g-gr-rspan-sm-6 {
    grid-row: span 6;
  }
  .g-gr-rspan-sm-7 {
    grid-row: span 7;
  }
  .g-gr-rspan-sm-8 {
    grid-row: span 8;
  }
  .g-gr-rspan-sm-9 {
    grid-row: span 9;
  }
  .g-gr-rspan-sm-10 {
    grid-row: span 10;
  }
  .g-gr-rspan-sm-11 {
    grid-row: span 11;
  }
  .g-gr-rspan-sm-12 {
    grid-row: span 12;
  }
}

@media (min-width: 769px) {
  .g-gr-cspan-md-1 {
    grid-column: span 1;
  }
  .g-gr-cspan-md-2 {
    grid-column: span 2;
  }
  .g-gr-cspan-md-3 {
    grid-column: span 3;
  }
  .g-gr-cspan-md-4 {
    grid-column: span 4;
  }
  .g-gr-cspan-md-5 {
    grid-column: span 5;
  }
  .g-gr-cspan-md-6 {
    grid-column: span 6;
  }
  .g-gr-cspan-md-7 {
    grid-column: span 7;
  }
  .g-gr-cspan-md-8 {
    grid-column: span 8;
  }
  .g-gr-cspan-md-9 {
    grid-column: span 9;
  }
  .g-gr-cspan-md-10 {
    grid-column: span 10;
  }
  .g-gr-cspan-md-11 {
    grid-column: span 11;
  }
  .g-gr-rspan-md-1 {
    grid-row: span 1;
  }
  .g-gr-rspan-md-2 {
    grid-row: span 2;
  }
  .g-gr-rspan-md-3 {
    grid-row: span 3;
  }
  .g-gr-rspan-md-4 {
    grid-row: span 4;
  }
  .g-gr-rspan-md-5 {
    grid-row: span 5;
  }
  .g-gr-rspan-md-6 {
    grid-row: span 6;
  }
  .g-gr-rspan-md-7 {
    grid-row: span 7;
  }
  .g-gr-rspan-md-8 {
    grid-row: span 8;
  }
  .g-gr-rspan-md-9 {
    grid-row: span 9;
  }
  .g-gr-rspan-md-10 {
    grid-row: span 10;
  }
  .g-gr-rspan-md-11 {
    grid-row: span 11;
  }
  .g-gr-rspan-md-12 {
    grid-row: span 12;
  }
}

@media (min-width: 997px) {
  .g-gr-cspan-lg-1 {
    grid-column: span 1;
  }
  .g-gr-cspan-lg-2 {
    grid-column: span 2;
  }
  .g-gr-cspan-lg-3 {
    grid-column: span 3;
  }
  .g-gr-cspan-lg-4 {
    grid-column: span 4;
  }
  .g-gr-cspan-lg-5 {
    grid-column: span 5;
  }
  .g-gr-cspan-lg-6 {
    grid-column: span 6;
  }
  .g-gr-cspan-lg-7 {
    grid-column: span 7;
  }
  .g-gr-cspan-lg-8 {
    grid-column: span 8;
  }
  .g-gr-cspan-lg-9 {
    grid-column: span 9;
  }
  .g-gr-cspan-lg-10 {
    grid-column: span 10;
  }
  .g-gr-cspan-lg-11 {
    grid-column: span 11;
  }
  .g-gr-rspan-lg-1 {
    grid-row: span 1;
  }
  .g-gr-rspan-lg-2 {
    grid-row: span 2;
  }
  .g-gr-rspan-lg-3 {
    grid-row: span 3;
  }
  .g-gr-rspan-lg-4 {
    grid-row: span 4;
  }
  .g-gr-rspan-lg-5 {
    grid-row: span 5;
  }
  .g-gr-rspan-lg-6 {
    grid-row: span 6;
  }
  .g-gr-rspan-lg-7 {
    grid-row: span 7;
  }
  .g-gr-rspan-lg-8 {
    grid-row: span 8;
  }
  .g-gr-rspan-lg-9 {
    grid-row: span 9;
  }
  .g-gr-rspan-lg-10 {
    grid-row: span 10;
  }
  .g-gr-rspan-lg-11 {
    grid-row: span 11;
  }
  .g-gr-rspan-lg-12 {
    grid-row: span 12;
  }
}

@media (min-width: 1181px) {
  .g-gr-cspan-xl-1 {
    grid-column: span 1;
  }
  .g-gr-cspan-xl-2 {
    grid-column: span 2;
  }
  .g-gr-cspan-xl-3 {
    grid-column: span 3;
  }
  .g-gr-cspan-xl-4 {
    grid-column: span 4;
  }
  .g-gr-cspan-xl-5 {
    grid-column: span 5;
  }
  .g-gr-cspan-xl-6 {
    grid-column: span 6;
  }
  .g-gr-cspan-xl-7 {
    grid-column: span 7;
  }
  .g-gr-cspan-xl-8 {
    grid-column: span 8;
  }
  .g-gr-cspan-xl-9 {
    grid-column: span 9;
  }
  .g-gr-cspan-xl-10 {
    grid-column: span 10;
  }
  .g-gr-cspan-xl-11 {
    grid-column: span 11;
  }
  .g-gr-rspan-xl-1 {
    grid-row: span 1;
  }
  .g-gr-rspan-xl-2 {
    grid-row: span 2;
  }
  .g-gr-rspan-xl-3 {
    grid-row: span 3;
  }
  .g-gr-rspan-xl-4 {
    grid-row: span 4;
  }
  .g-gr-rspan-xl-5 {
    grid-row: span 5;
  }
  .g-gr-rspan-xl-6 {
    grid-row: span 6;
  }
  .g-gr-rspan-xl-7 {
    grid-row: span 7;
  }
  .g-gr-rspan-xl-8 {
    grid-row: span 8;
  }
  .g-gr-rspan-xl-9 {
    grid-row: span 9;
  }
  .g-gr-rspan-xl-10 {
    grid-row: span 10;
  }
  .g-gr-rspan-xl-11 {
    grid-row: span 11;
  }
  .g-gr-rspan-xl-12 {
    grid-row: span 12;
  }
}

:root {
  --accent-main: #f7505e;
  --accent-light-light: #fc5f6c;
  --accent-main-dark: #e54654;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'NeueHaasGroteskDisp Pro';
  line-height: 1.5;
  word-spacing: 3px;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: #696969;
}

main {
  margin: 50px 0;
}

/* COLORS */
.bg-color-main {
  background-color: var(--accent-main);
}

.bg-color-main-dark {
  background-color: var(--accent-main-dark);
}

.text-color-main {
  color: var(--accent-main);
}

ul.menu-list {
  list-style: none;
}

ul.menu-list li {
  display: inline-block;
}

/* CONTAINERS */
.container-sm {
  max-width: 950px;
}

/* HEADERS */
h1 {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent-main);
  line-height: 1.8;
}

h4 {
  font-size: 1.5rem;
}

small, .small {
  font-size: small;
}

small *, .small * {
  font-size: small;
}

/* FLEXBOX */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MARGIN */
.m-0 {
  margin: 0;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-10 {
  margin: 10;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-20 {
  margin: 20;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-30 {
  margin: 30;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-40 {
  margin: 40;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-50 {
  margin: 50;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-70 {
  margin: 70;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mx-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.m-90 {
  margin: 90;
}

.ml-90 {
  margin-left: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mx-90 {
  margin-left: 90px;
  margin-right: 90px;
}

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.m-100 {
  margin: 100;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* PADDING */
.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.p-10 {
  padding: 10;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-20 {
  padding: 20;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-30 {
  padding: 30;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-40 {
  padding: 40;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-50 {
  padding: 50;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-70 {
  padding: 70;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.p-90 {
  padding: 90;
}

.pl-90 {
  padding-left: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.p-100 {
  padding: 100;
}

.pl-100 {
  padding-left: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* SECTIONS */
[data-section='hero'] h4 {
  font-size: 1.285rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fff;
}

footer [data-section="footer-info"] {
  color: var(--accent-main);
}

footer [data-label="footer-legal"] .menu-list li {
  margin-right: 10px;
}

/* MEDIA QUERIES */
.top-bar {
  padding: 5px 0;
  background: var(--accent-main-dark);
  color: #fff;
  font-size: 0.875rem;
  padding: 13px 0;
}

.top-bar .text-widget a {
  color: #fff;
  text-decoration: none;
}

.top-bar .text-widget a:hover {
  text-decoration: underline;
}

.align-right {
  text-align: right;
}

header {
  background: var(--accent-main);
  padding-bottom: 16px;
}

header .btn-hamburger-container {
  display: none;
  text-align: right;
}

header .btn-hamburger-container i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

header .main-nav .navigation {
  font-size: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
  padding-top: 17px;
}

header .main-nav .logo a {
  width: 100%;
}

header .main-nav .logo a img {
  width: 186px;
  height: auto;
}

header .main-nav nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-nav nav ul li {
  text-transform: uppercase;
  font-weight: 600;
}

header .main-nav nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  opacity: .6;
}

header .main-nav nav ul li a:hover {
  opacity: 1;
}

header .main-nav hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 8px;
  padding-bottom: 10px;
}

.breadcrumb {
  margin-bottom: 20px;
}

.breadcrumb p {
  font-size: 1rem;
}

.breadcrumb p a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.6;
}

.breadcrumb p a:hover {
  text-decoration: underline;
}

.breadcrumb p span {
  color: #fff;
  font-weight: 600;
}

.breadcrumb p span::before {
  padding: 0 10px;
  font-size: 1.2rem;
  content: '\203A';
}

.breadcrumb p span.first::before {
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 768px) {
  .top-bar {
    display: none;
  }
  header {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  header .btn-hamburger-container {
    display: block;
  }
  header .main-nav .navigation .line-nav-hide {
    display: none;
  }
  header .main-nav .nav-container {
    -webkit-transform-origin: top;
            transform-origin: top;
    height: 0px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
  }
  header .main-nav nav {
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  header .main-nav nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .main-nav nav ul li {
    width: 100%;
    margin-left: 0;
  }
  header .main-nav nav ul li a {
    display: block;
    padding: 10px 0;
    padding-left: 25px;
    color: #fff;
  }
  .line-nav-hide {
    display: none;
  }
  body.nav-isopen .nav-container {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: 220px;
  }
}

/* TE KOOP */
.flex-grid-wrapper {
  --grid-row-items-p: 40px;
  overflow: visible;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card::before {
  position: absolute;
  left: calc((31px/2)*-1);
  top: 10px;
  display: block;
  content: " ";
  background-image: url(../../images/ornament_rood.svg);
  width: 31px;
  height: 55px;
  z-index: 1;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card .card-head {
  position: relative;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card .card-head img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: -7px;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card .card-head .meta {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 14px;
  background-color: var(--accent-main);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: .875rem;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card .card-body {
  background: white;
}

.flex-grid-wrapper .flex-grid .flex-grid-item.card .card-body h3 {
  color: var(--accent-main);
  text-transform: uppercase;
}

/* FILTER */
.map-contact {
  width: 100%;
  height: 410px;
}

.intro hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 0.5rem;
}

label span {
  color: #ee0000;
}

input, label {
  display: block;
}

input, textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bebebe;
  padding: 6px 12px;
  margin-bottom: 1rem;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

input:focus, textarea:focus {
  border: 0;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(247, 80, 94, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(247, 80, 94, 0.3);
  outline: none;
}

input[type="submit"] {
  display: inline-block;
  background: var(--accent-main);
  color: #fff;
  border: none;
  width: auto;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #f41326;
}

textarea {
  resize: vertical;
  height: 180px;
}

.contact-info-input {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info-input div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.contact-info {
  margin-top: 30px;
}

.contact-info p {
  margin-bottom: 1rem;
}

.contact-info p strong {
  font-weight: 600;
}

.contact-info p a {
  text-decoration: none;
  color: var(--accent-main);
}

.contact-info p a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .contact-info-input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-info-input div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.header-sub {
  height: 120px;
}

.header-sub .price {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-sub .price div {
  position: absolute;
  bottom: 15px;
}

.header-sub .price div p {
  color: #fff;
  font-size: 1.125rem;
}

.header-sub .price div p:last-child {
  font-size: 2rem;
  font-weight: 700;
}

main {
  margin-top: 0;
}

.detail-premise {
  width: 100%;
  height: 25%;
  position: absolute;
  z-index: -1;
  background: var(--accent-main);
}

.detail-head-pic {
  position: relative;
}

.detail-head-pic::before {
  position: absolute;
  left: -15.5px;
  top: 10px;
  display: block;
  content: " ";
  background-image: url(../images/ornament_wit.svg);
  width: 31px;
  height: 55px;
}

.detail-head-pic img {
  width: 100%;
}

.detail-head-pic .stripes {
  position: absolute;
  top: 5px;
  left: -25px;
}

.detail-head-pic .stripes div {
  width: 50px;
  height: 10px;
  margin-bottom: 10px;
  background: #fff;
}

.detail-description p, .detail-description ul {
  margin-bottom: 1rem;
}

.detail-description p a {
  color: var(--accent-main);
  text-decoration: none;
}

.detail-description p a:hover {
  color: #f41326;
  text-decoration: underline;
}

.detail-description ul {
  margin-left: 40px;
}

.address-info {
  margin-bottom: 1rem;
  background: #eae5db;
  padding: 12px 15px 15px;
}

.address-info h4 {
  color: var(--accent-main);
}

.address-info address {
  font-style: normal;
}

.detail-properties table {
  text-align: left;
  border-collapse: collapse;
  background: #fff;
  width: 100%;
}

.detail-properties table tbody tr th, .detail-properties table tbody tr td {
  border-bottom: 0.1px solid #dedede;
  padding: 0.375rem;
}
/*# sourceMappingURL=main.css.map */